
h1{
    padding: 10px;
    font-family: sans-serif,Georgia, serif; 
    color: white;
    text-align: center;
}

header nav a {
    
    color: white;
    text-decoration: none;
    font-size: 20px;
    
    
}
nav {
    text-align: right;
    background-color:violet;
}
nav >ul> li {
  
    list-style-type: none;
   /* padding-left: 0;
    margin-left: 0;*/
   
    display: inline-flex;
    padding: 10px;
    
    
}
